<h1>Pets#show</h1>

<%= @pet.name %>
<%= @pet.city %>
<%= link_to "Edit this pet!", edit_pet_path(@pet) %>
<%= link_to "delete this pet!", pet_path(@pet), method: :delete, data: {confirm: "are you sure!?"} %>
